<%- include('partials/header')  %>
<title><%= name %></title>
</head> 
<body>
    <%- include('partials/nav')  %> 
    <div id="productContainer">
        <div id="clickableImages">
            <img src="<%= img1 %>" alt="smallProductImg">
            <img src="<%= img2 %>" alt="smallProductImg">
        </div>

        <div id="focusedImage">
            <img src="<%= img1 %>" alt="<%= name %>">
        </div>

        <div id="productInfo">
            <h1 id="productName">
                <%= name %>
            </h1>
            <div id="priceContainer" style="display: flex; flex-direction: row;">
                <% if (sale){ %>
                    <h1 id="productPrice" style="text-decoration: line-through;">
                        $<%= price %>
                    </h1> 
                    <h1 id="productPrice" style="color: red;">
                        $<%= sale %>
                    </h1>
                <% } else { %> 
                    <h1 id="productPrice">
                        $<%= price %>
                    </h1>
                <% } %>

            </div>

            <p>
                <strong>Color:</strong>
                <span id="productColor"><%= color %></span>
            </p>

            <form action="/cart" method="POST">
                <label for="productQty"><strong>Qty*</strong></label>
                <select name="productQty" id="productQty">
                    <% for(let i = 0; i < 10; i++) { %>
                        <option value="<%= i + 1 %>"><%= i + 1 %></option>
                    <% } %>
                </select>
                <button type="submit">Add to Bag</button>
            </form>
            
            <p><strong>Free Shipping over $50</strong></p>
            <div class="collapseInfo">
                <div class="collapseBtn">
                    <h2>Details</h2>
                    <i class="fas fa-plus"></i>
                </div>                 
                <div class="shipCollapse">
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet minus minima molestiae doloremque totam sunt. In obcaecati nam animi fugiat? Aperiam laboriosam atque, velit ad ipsum amet magnam recusandae quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consectetur, vitae itaque laudantium dicta molestias reiciendis ab optio culpa recusandae pariatur commodi non provident aspernatur. Quasi, maxime? Blanditiis, non corporis.
                    </p>
                </div>
            </div>
            <div class="collapseInfo">
                <div class="collapseBtn">
                    <h2>Shipping + Returns</h2>
                    <i class="fas fa-plus"></i>
                </div>                 
                <div class="shipCollapse">
                    <h1>Shipping</h1>
                    <table>
                        <tr>
                            <th>Method</th>
                            <th>Shipping Time</th>
                            <th>Cost</th>
                        </tr>
                        <tr>
                            <td>Standard</td>
                            <td>Arrives in 5-8 business days</td>
                            <td>
                                Orders up to $49.99: $4.95<br>
                                Orders $50 and over: FREE
                            </td>
                        </tr>
                        <tr>
                            <td>Express</td>
                            <td>Arrives in 2-3 business days</td>
                            <td>$14.95</td>
                        </tr>
                        <tr>
                            <td>Rush</td>
                            <td>Arrives in 1-2 business days</td>
                            <td>$21.95</td>
                        </tr>
                        <tr>
                            <td>Truck</td>
                            <td>Arrives in 2-4 weeks once shipped</td>
                            <td>Cost may vary</td>
                        </tr>
                    </table>
                    <p>
                        These shipping rates are not applicable for orders shipped outside of the US. Some oversized items may require an additional shipping charge. Free Shipping applies only to merchandise; taxes and Gift Cards do not count toward the Free Shipping total. Rush Shipping may not be available for all orders depending on fulfillment location.Shipping outside of the US? Visit our International Shipping + Returns page.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/footer')  %> 
    <script src="index.js"></script>
</body>
</html>